{% extends '_themes/sneat/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('build/bootstrap5/css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="form-signin w-100 m-auto text-center bg-dark">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <img class="mb-4 w-100" src="{{ asset('build/bootstrap5/img/logo.png') }}">
            <h1 class="h3 mb-3 fw-normal text-light">Inicie sesión</h1>

            <div class="form-floating">
                <input type="text" name="_username" class="form-control" id="floatingUser" placeholder="Usuario">
                <label for="floatingUser">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" name="_password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="checkbox mb-3">
                <label class="text-light">
                    <input type="checkbox" value="remember-me"> Recordar contraseña
                </label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
            <p class="mt-5 mb-3 text-light">&copy; SITVC - Canal Caribe 2022 {% if "now"|date('Y') != '2022' %} {{ "now"|date('Y') }} {% endif %}</p>
        </form>
    </main>
{% endblock %}
