<div class="mb-4 alert-{{ bg }}">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between">
            <h5 class="text-truncate align-self-center pe-3" >{{ tarea.tarea.titulo }}</h5>
            <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('app_tarea_show', {'id': tarea.tarea.id }) }}"><i class="bx bxs-show me-1"></i> Mostrar</a>
                    {% if is_granted('ROLE_JEFE_INFORMATICA') %}
                        <a class="dropdown-item" href="{{ path('app_tarea_edit', {'id': tarea.tarea.id }) }}"><i class="bx bxs-edit-alt me-1"></i> Editar</a>
                        <a class="dropdown-item" href="{{ path('app_tarea_delete', {'id': tarea.tarea.id }) }}"><i class="bx bxs-trash me-1"></i> Eliminar</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <p class="card-text">{{ tarea.tarea.descripcion|raw }}</p>
        <div class="card-alert d-flex justify-content-between">
            <div class="p-2">
                {% for area in tarea.tarea.areas %}
                    <span class="badge bg-label-dark me-1">{{ area.nombre }}</span>
                {% endfor %}
            </div>
            <div class="p-2 d-flex justify-content-end">
                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center me-2">
                    <li data-bs-toggle="tooltip" data-bs-html="true" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="Registrada por {{ tarea.creadoPor.trabajador.nombreCorto }}, el {{ "now"|date('d-m-Y h:i:s a') }}">
                        <img src="{% include 'includes/trabajador_foto.html.twig' with {'trabajador' : tarea.creadoPor.trabajador } %}" alt="Avatar" class="rounded-circle shadow-lg  border border-primary border-2">
                    </li>
                </ul>
                {% if tarea.asignadoA | length > 0 %}
                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                        {% for usuario in tarea.asignadoA %}
                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="{{ usuario.trabajador.nombreCompleto }}">
                                <img src="{% include 'includes/trabajador_foto.html.twig' with {'trabajador' : usuario.trabajador } %}" alt="Avatar" class="rounded-circle shadow-lg">
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
