<table class="table">
    <thead>
    <tr>
        <th>Nombre(s) y apellidos</th>
        <th>Área</th>
        <th>Teléfono(s)</th>
        <th>Dirección</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for trabajador in trabajadores %}
        <tr>
            <td>{{ trabajador.nombres }} {{ trabajador.apellidos }}</td>
            <td>{{ trabajador.area.nombre }}</td>
            <td>{{ trabajador.telefonoPrincipal }} {{ trabajador.telefonoAlternativo ? ', ' ~ trabajador.telefonoAlternativo : '' }}</td>
            <td>{{ trabajador.direccion ? trabajador.direccion : '' }}</td>
            <td>
                <a href="{{ path('app_trabajador_show', {'id': trabajador.id}) }}" class="btn btn-sm btn-outline-primary">
                    <i class="bi bi-eye-fill"></i>
                </a>
                <a href="{{ path('app_trabajador_edit', {'id': trabajador.id}) }}" class="btn btn-sm btn-outline-secondary">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <a href="{{ path('app_trabajador_delete', {'id': trabajador.id}) }}" class="btn btn-sm btn-outline-danger">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">No se encontraron resultados</td>
        </tr>
    {% endfor %}
    </tbody>
</table>